body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

#banner {
  width: 100%;
  background-size: cover;
  margin: 0;
}

.container {

  max-width: 1000px;
  margin: 0 auto;
}

.sidebar {

  width: 22%;
  margin: -85px 0 0 0;
  padding: 4%;
  color: #666666;
  display: inline-block;
  vertical-align: top;
}

.logo {
  border-radius: 100%;
  width: 100px;
  border: solid white;
}

.sidepara {
  color: #AFAAAA;
}

.search {
  margin: 10px 0;
  font-weight: bold;
  border-top: thin solid #AFAAAA;
  padding: 20px 0 15px 0;
  color: #AFAAAA;
}

.searchbox {
  width: 100%;
}

.maincontent {
  display: inline-block;
  width: 60%;

  margin: 0 0;
  padding: 4%;
  vertical-align: top;
}

.blogtitle {
  font-family: "Slabo", sans-serif;
  padding: 20px 0 0 0;
  font-size: 2.5em;
}

.subtitle {
  font-style: italic;
  color: #666666;
}

.subtitle a {
  text-decoration: none;
}

.blogimg {
  width: 100%;
}

.blogtext {
  color: #666666;
}

.followbox {
  margin: 0;
  padding:0;
  width: 275px;
  height: 70px;
  border-radius: 3px;
  background-color: white;
  border: thin solid #E1E1E1;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.topbox {
  font-weight: bold;
  height: 17px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: thin solid #E1E1E1;
}

.topbox p {
  margin: 2px auto 3px 2px;
  font-size: .75em;
  color: #272727;
}

.bottombox {
  height: 48px;
}

.bottom1 {
  margin: 5px;
  height: 75%;
  width: 14%;
  display: inline-block;
  vertical-align: top;
}

.followlogo {
  width: 100%;
}

.bottom2 {
  margin: 5px 0;
  width: 55%;
  display: inline-block;
  vertical-align: top;
  height: 74%;
}

.bottom3 {
  margin: 8px 0;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  height: 60%;
}

button {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  background-color: #53A0CB;
  border-radius: 3px;
  vertical-align: top;
  color: white;
  font-size: .5em;
}

.handle {
  font-size: .75em;
  color: #272727;
  font-weight: bold;
  margin: 0;
  height: 45%;
  vertical-align: top;
}

.subhandle {
  font-size: .75em;
  color: #272727;
  margin: 0;
  height: 45%;
  vertical-align: bottom;
}
